h1 {
  text-align: center;
  font-weight: 700;
  text-decoration: orange underline;
  letter-spacing: 15px;
  font-size: 60px;
  /* font-family: Verdana, Futura, Arial; */
  font-family: fantasy;
}

p {
  text-align: right;
  line-height: 2;
}

a {
  text-decoration: none;
}
