/* * {
  color: pink;
  background-color: olive;
} */

body {
  background-color: #f1faee;
}

button {
  font-size: 30px;
  background-color: #a8dadc;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

h1,
h2 {
  color: #1d3557;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 18px;
}

.post a {
  color: #457b9d;
  text-decoration: none;
  font-weight: 700;
}

footer a {
  color: #e63946;
}

h2 + button {
  background-color: pink;
  font-size: 20px;
}

footer > a {
  color: #1d3557;
}

input[type="password"] {
  color: greenyellow;
}

/* section[class="post"] {
    background-color: purple;
} */

a[href*="Google" i] {
  color: magenta;
}

.post button:hover {
  background-color: #e63946;
  color: #f1faee;
}

a:hover {
  text-decoration: line-through;
}

.post button:active {
  background-color: #02c39a;
}

.post:nth-of-type(2n) {
  background-color: #dfe8dc;
}
